#title{
    color: white;
    text-align: center;
    height:500px; 
}

body{
    background-color: pink;
}

body{
    background-image: url("https://static.pexels.com/photos/35677/rose-pink-petals-flower.jpg");
}